

body{
    background-color: #D6DDED;
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-titale{
    font-weight:700;
    font-size:34px;
}
nav ul li {
    list-style: none;
}
.bt-primary{
   padding:12px 36px;
   border-radius:10px;
   background-color: #4E47FF;
   font-size: 16px;
   font-weight: bold;
   color: white;
}
.bannar{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.bg-img{
   background-image: url(../Assets/Hero-bg.png);
}
.first{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}
.second{
    font-size: 24px;
    font-weight: 600;
    color: #252432;
}
.img-sc{
    width: 403;
    height: 508;
    border-radius:48px;
    margin-top: 10px;
}
.banner-main{
    display: flex;
    justify-content: space-between;
    width: 1140;
    height: 328;
    margin: 116px;
}
.secon-main{
    width: 517;
}
.uses{
    display: flex;
      justify-content: center;
      gap: 50px;
      font-weight: bold;
      color: #4F46E5;
      font-size: 50px;
      
}
.uses-main{
    background: #EEF0FC;
    text-align: center;
border-radius: 141px 156px 116px 1370x;
}
.testimonials{
    display: flex;
    margin: 50px 133px 151px 151px;
    gap: 50px;
    justify-content: center;
}
.box{

}
.box-cont{
    
    font-weight: bold;
}
.hadd{
    font-size: 20px;
    font-weight: bold;
}
.had-card{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.cardimg{
    border-radius: 100%;
}
.review{
    display: flex;

    
}
.review-2{
    padding: 0px 20px;
    color: #757575;
   
}
.Big-bann{
     display: flex;
    width: 1150;
    height: 700;
    justify-content: center;
   
   
}
.big1{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.small1{
   color: #000000;
}
.big-img{
    width: 840;
    height: 370;
    border-radius: 48px;
    margin-top: 20px;
}
.all1{
    text-align: center;
}
.sec-title{
    font-size: 80px;
}
.last-lav{
    padding: 150px 200px;
    display: flex;
    gap: 115px;
    
}

form input[type="text"],
form input[type="email"],
form textarea {
  height: 71px;
  border-radius: 10px;
  background-color: white;
  display: block;
  width: 100%;
  padding:10px;
  margin-top: 5px;
  border: none;
  color: #000000;
  font-size:15px;
}
.bt-second{
    padding:10px 101px;
   border-radius:5px;
   background-color: #4E47FF;
   color: white;
   margin-top: 10px;
}

footer{
    background-color: #f8f8f8;
    padding: 20px 50px;
    justify-content: center;
    text-align: center;
}
.last-cont{
    display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center; 
  text-align: center;
}

.last-l{
    font-size: 100px;
    color: #4E47FF;
    border: none;
   
    margin-bottom: 8px;
}
.sub-tital{
    color: #8987A1;
    padding: 10px;
    width: 531;
    height: 48;
}
.icon{
    display: flex;
    list-style: none;
    gap: 48px;
    
    align-items: center;
    
}
footer ul li a{
    text-decoration: none;
}
